*{margin:0; padding:0; outline:0}
body{font-family:arial;font-size:14px;line-height:18px;color:#333; background:#F2F2F2;}
.templete{
	width:960px;
	margin:0 auto;
}
.clear{
	overflow:hidden;
}
.headersection{height:80px;}
.header{background:#333233;}
.headerleft {
    width: 450px;
    color: #fff;
    float: left;
}
.headerleft h2 {
    font-size: 40px;
    line-height: 73px;
    padding-left: 40px;
}

.headerright {
    width: 510px;
    float: right;
    color: #fff;
    padding-top: 34px;
}
.headerright a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.headerright a:hover, #active{color:#00A0F4;}

.mainsection{
	background:#fff;
}
.slogansection {
    border-bottom: 2px dotted #CECDD8;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 28px;
}
.slogansection h2 {
    font-size: 45px;
    line-height: 58px;
    color: #000;
}
.slogansection h3 {
    font-size: 34px;
    line-height: 34px;
    color: #CECDD8;
}

.descsection {
    font-size: 26px;
    margin: 28px 50px 50px 50px;
    line-height: 30px;
    border-bottom: 2px dotted #CECDD8;
    color: #666;
    padding-bottom: 30px;
}
.descsection p{}

.contentsection {
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.service {
    background: #00A0F2;
    margin-left: 52px;
    width: 212px;
    float: left;
    padding: 20px;
}
.service h2 {
    color: #FFFFD8;
    border-bottom: 1px dotted #FFFFFF;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 28px;
    text-align: center;
}
.service p {
    color: #FFFDD8;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
}

.readmore {
    background: #00669D;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.readmore a {
    color: #ddd;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.readmore a:hover{}

.mainbottom {
    margin-left: 50px;
    margin-right: 50px;
    border-top: 2px dotted #CECDD8;
    padding-top: 30px;
    border-bottom: 2px dotted #CECDD8;
    padding-bottom: 30px;
    margin-bottom: 22px;
}
.clientsection {
    width: 398px;
    float: left;
    border-right: 2px dotted #ccc;
    padding-right: 30px;
    margin-right: 30px;
}
.clientsection h2 {
    font-size: 25px;
    color: #666;
    line-height: 30px;
}

.testimonial {
    margin-top: 20px;
}
.clientimage {
    float: left;
    width: 80px;
    margin-right: 20px;
}
.clientimage img {
    height: 80px;
    width: 80px;
}

.clientdesc {
    float: left;
    width: 298px;
}
.clientdesc p {
    color: #666;
}
.clientdesc a {
    text-decoration: none;
    color: #29A1F2;
}
.clientname {
    font-weight: bold;
    margin-top: 8px;
}

.projectsection{width:400px;float:right;}
.projectsection h2 {
    font-size: 25px;
    color: #666;
    line-height: 30px;
}
.projectsection h3 {
    color: #999;
    margin-top: 5px;
    margin-bottom: 8px;
}
.projectsection img {
    width: 400px;
    height: 165px;
    border: 1px solid #ddd;
    border-radius: 3px;
	margin-bottom:8px;
}
.projectsection p {
    color: #666;
    margin-bottom: 8px;
}
.projectsection a {
    text-decoration: none;
    color: #29A1F2;
    font-size: 16px;
}

.footersection{}
.footersection p {
    margin-left: 50px;
    margin-bottom: 20px;
    color: #999;
}






